{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Rishabh Rajput</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'img/icon.png' %}" rel="icon">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/light-box.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-main.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>

<body>
  <!-- navbar -->
        <nav>
          <div class="logo">
              <img src="{% static '' %}" alt="">
          </div>
          
          <ul>
            <li><a href="#1"><i class="fa fa-home"></i> <em>Home</em></a></li>
            <li><a href="#2"><i class="fa fa-user"></i> <em>About</em></a></li>
            <li><a href="#3"><i class="fa fa-code"></i> <em>Skills</em></a></li>
            <li><a href="#4"><i class="fa fa-code-fork"></i> <em>Technologies Known</em></a></li>
            <li><a href="#5"><i class="fa fa-file-code-o"></i> <em>Work</em></a></li>
            <li><a href="#6"><i class="fa fa-envelope"></i> <em>Contact</em></a></li>
          </ul>
        </nav>
        <!-- home -->
        <div class="slides">
          <div class="slide" id="1">
            <div class="content first-content">
              <div class="container-fluid">
                  <div class="col-md-3">
                      <div class="author-image"><img src="{% static 'img/Profile.jpeg' %}" alt="Author Image"></div>
                  </div>
                  <div class="col-md-9">
                      <h2>Rishabh Rajput</h2>
                      <p>I am Grad Student pursing my Bachelors Degree in Computer Science and Engineering at Amrita Vishwa Vidyapeetham. I am a proactive learner.
                        I love meeting new people and interacting/collaborating with them. And i aspire to be a good Human Being.</p>
                      <div class="main-btn"><a href="#2">Read More</a></div>
                      <div class="fb-btn">
                        <a href="https://github.com/rishabh1402"><i class="fa fa-github-square"></i> </a>
                        <a href="https://www.facebook.com/rishabh.rajput.3956"><i class="fa fa-facebook-square"></i> </a>
                        <a href="https://www.instagram.com/rishabh_rajput_02/"><i class="fa fa-instagram"></i> </a>
                      </div>
                  </div>
              </div>
            </div>
          </div>

          <!-- about -->

          <div class="slide" id="2">
            <div class="content second-content">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <div class="left-content">
                            <h2>About Me</h2><br>
                            <h3 style="color: #ffff;">I'm a </h3>
                            <h3 style="color: #ffff;">Data Scientist &amp; Web Developer.</h3>
                            <p style="font-size: medium;">As a CSE grad student, i specialize in Data Science and i am also a Web Developer. I have completed various projects focused towards social good.</p> 
                            <h3 style="color: #ffff;">Personal Information</h3>
                            <div class="row">
                                <div class="col-lg-6" style="color: #ffff; font-size: medium;">
                                  <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>14 Feb 2002</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 8800538940</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Agra, India</span></li>
                                  </ul>
                                </div>
                                <div class="col-lg-6" style="color: #ffff; font-size: medium;">
                                  <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>19</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>rajputrishabh608@gmail.com</span></li>
                                  </ul>
                                </div>
                              </div>
                          <div class="main-btn"><a href="#3">Read More</a></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-image">
                          <img src="{% static 'img/rr.png' %}" alt="" >
                      </div>
                    </div>
                </div>
            </div>
          </div>

          <!-- skills -->

          <div class="slide" id="3">
            <div class="content third-content">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="first-section">
                                <div class="container-fluid" style="margin-left: 200px; margin-top: 60px;">
                                   <center> 
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="cpp"><img src="{% static 'img/c.png' %}" alt="" style="width: 100px;" height="100px"></div>
                                            <h3 style="color: #ffff;">C</h3>
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <div class="author-image"><img src="{% static 'img/cpp.jpg' %}" alt="" style="width: 100px;" height="100px"></div>
                                            <h3 style="color: #ffff;">C++</h3>
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <div class="author-image"><img src="{% static 'img/py.png' %}" alt="" style="width: 100px;" height="100px"></div>
                                            <h3 style="color: #ffff;">Python</h3>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="author-image"><img src="{% static 'img/java.png' %}" alt="" style="width: 100px;" height="100px"></div>
                                            <h3 style="color: #ffff;">Java</h3>
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <div class="author-image"><img src="{% static 'img/html.png' %}" alt="" style="width: 100px;" height="100px"></div>
                                            <h3 style="color: #ffff;">HTML</h3>
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <div class="author-image"><img src="{% static 'img/css.png' %}" alt="" style="width: 100px;" height="100px"></div>
                                            <h3 style="color: #ffff;">CSS</h3>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="author-image" style="margin-left: 240px;"><img src="{% static 'img/js.png' %}" alt="" style="width: 100px;" height="100px"></div>
                                            <h3 style="color: #ffff; margin-left: 240px;">Javascript</h3>
                                        </div>
                                    </div>
                                </center>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <!-- Technologies Known -->

          <div class="slide" id="4">
            <div class="content third-content">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="container-fluid" style="margin-left: 200px; margin-top: 60px;">
                                <center> 
                                 <div class="row">
                                     <div class="col-md-3">
                                         <div class="cpp"><img src="{% static 'img/pyt.png' %}" alt="" style="width: 100px;" height="100px"></div>
                                         <h3 style="color: #ffff;">Pytorch</h3>
                                     </div>
                                     
                                     <div class="col-md-3">
                                         <div class="author-image" style="margin-left: 100px;"><img src="{% static 'img/tf.png' %}" alt="" style="width: 100px;" height="100px"></div>
                                         <h3 style="color: #ffff; margin-left: 100px;">TensorFlow</h3>
                                     </div>
                                     
                                 </div>
                                 <br>
                                 <div class="row">                                     
                                     <div class="col-md-3">
                                         <div class="author-image"><img src="{% static 'img/flask.png' %}" alt="" style="width: 100px;" height="100px"></div>
                                         <h3 style="color: #ffff;">Flask</h3>
                                     </div>

                                     <div class="col-md-3">
                                        <div class="author-image" style="margin-left: 100px;"><img src="{% static 'img/dj.png' %}" alt="" style="width: 100px;" height="100px"></div>
                                        <h3 style="color: #ffff; margin-left: 100px;">Django</h3>
                                    </div>
                                 </div>
                                 <br>
                                 <div class="row">
                                     <div class="col-md-3">
                                         <div class="author-image" style="margin-left: 160px;"><img src="{% static 'img/h.png' %}" alt="" style="width: 100px;" height="100px"></div>
                                         <h3 style="color: #ffff; margin-left: 160px;">Heroku</h3>
                                     </div>
                                 </div>
                             </center>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>

           <!-- portfolio -->

           <div class="slide" id="5">
            <div class="content fourth-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="{% static 'img/np1.png' %}" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Number Plate Recognizer</h2>
                                            <ul>
                                                <li style="color: #ffff; text-decoration: none;"><strong>Category</strong>: Computer Vision</li>
                                                <li style="color: #ffff; text-decoration: none;"><strong>Project date</strong>: 31 October, 2021</li>
                                                <li style="color: #ffff; text-decoration: none;"><strong style="color: #ffff;">Project URL</strong>: <a style="text-decoration:underline;" href="https://honeywell-debuggers.github.io/Smart_City_Hackathon/">Rules are Rules</a></li>
                                              </ul>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="{% static 'img/np1.png' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="{% static 'img/28917.jpg' %}" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Waste Classifier</h2>
                                            <ul>
                                                <li style="color: #ffff; text-decoration: none;"><strong>Category</strong>: Convolutional Neural Network</li>
                                                <li style="color: #ffff; text-decoration: none;"><strong>Project date</strong>: 26 September, 2021</li>
                                                <li style="color: #ffff; text-decoration: none;"><strong style="color: #ffff;">Project URL</strong>: <a style="text-decoration:underline;" href="https://cool-man-vk.github.io/Stratify/">Stratify</a></li>
                                              </ul>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="{% static 'img/28917.jpg' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="{% static 'img/br2.jpg' %}" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Brain Tumor Detection</h2>
                                            <ul>
                                                <li style="color: #ffff; text-decoration: none;"><strong>Category</strong>: Convolutional Neural Network</li>
                                                <li style="color: #ffff; text-decoration: none;"><strong>Project date</strong>: 13 November, 2021</li>
                                                <li style="color: #ffff; text-decoration: none;"><strong style="color: #ffff;">Project URL</strong>: <a style="text-decoration:underline;" href="https://www.youtube.com/watch?v=mMFdgcZgHt4&t=2s">Youtube Video</a></li>
                                              </ul>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="{% static 'img/br2.jpg' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="{% static 'img/rs2.png' %}" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Retail Solutions</h2>
                                            <ul>
                                                <li style="color: #ffff; text-decoration: none;"><strong>Category</strong>: Machine Learning Alorithm (Linear Regression)</li>
                                                <li style="color: #ffff; text-decoration: none;"><strong>Project date</strong>: 19 September, 2021</li>
                                                <li style="color: #ffff; text-decoration: none;"><strong style="color: #ffff;">Project URL</strong>: <a style="text-decoration:underline;" text-decoration: underline;" href="https://reaper-dhan.github.io/HackRice11/">Retail Solutions and Advices</a></li>
                                              </ul>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="{% static 'img/rs2.png' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="{% static 'img/tour.jpg' %}" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>City Avenue</h2>
                                            <ul>
                                                <li style="color: #ffff; text-decoration: none;"><strong>Category</strong>: Web Design</li>
                                                <li style="color: #ffff; text-decoration: none;"><strong>Project date</strong>: 25 April, 2021</li>
                                                <li style="color: #ffff; text-decoration: none;"><strong style="color: #ffff;">Project URL</strong>: <a style="text-decoration:underline;" href="https://hack-ccessible.github.io/CityAvenue/">City Avenue</a></li>
                                              </ul>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="{% static 'img/tour.jpg' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="{% static 'img/hp.cms' %}" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Boston House Pricing</h2>
                                            <ul>
                                                <li style="color: #ffff; text-decoration: none;"><strong>Category</strong>: Machine Learning Alorithm (Linear Regression)</li>
                                                <li style="color: #ffff; text-decoration: none;"><strong>Project date</strong>: 12 April, 2021</li>
                                                <li style="color: #ffff; text-decoration: none;"><strong style="color: #ffff;">Project URL</strong>: <a style="text-decoration:underline;" href="https://www.youtube.com/watch?v=vZkJW_mgQKY">Youtube Video</a></li>
                                              </ul>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="{% static 'img/hp.cms' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <!-- contact -->
          
          <div class="slide" id="6">
            <div class="content fifth-content">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <div id="map">
    <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
	-->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113579.78745695137!2d77.90997245463633!3d27.176157105924027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39740d857c2f41d9%3A0x784aef38a9523b42!2sAgra%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1644557936243!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 500px;" allowfullscreen ></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form id="contact" action="" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                                  </fieldset>
                                </div>
                                 <div class="col-md-12">
                                  <fieldset>
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..." required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send Now</button>
                                  </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <!-- footer -->

        <div class="footer">
          <div class="content">
              <p>Copyright &copy; 2022 Rishabh Rajput </p>
          </div>
        </div>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src={% static '/js/vendor/jquery-1.11.2.min.js' %}><\/script>')</script>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript">
    $(document).ready(function() {

        

        // navigation click actions 
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');         
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>
</body>
</html>